body {
  margin: 0;
  padding: 0;
  font-family: "Heebo", "BrandonGrotesqueWeb-Medium", "system-ui", "sans-serif",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", "Verdana";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Heebo", "BrandonGrotesqueWeb-Medium", "system-ui", "sans-serif";
}
